

<h2>Create an Author</h2>
<%= form_tag authors_path, method: "post" do %>
  <% if @author.errors.any?%>
  <h3>There are some errors:</h3>
    <ul>
      <% @author.erros.full_messages.each do |msg|%>
      <li><%=msg%></li>
      <%end%>
    </ul>
  <%end%>
    
  <div class="field<%= ' field_with_errors' if @author.errors[:name].any? %>">
    <%= label_tag "name", "Name" %>
    <%= text_field_tag "name",@author.name %>
  </div>

  <div class="field<%= ' field_with_errors' if @author.errors[:email].any? %>">
    <%= label_tag "email", "Email" %>
    <%= text_field_tag "email",@author.email %>
  </div>

  <div class="field<%= ' field_with_errors' if @author.errors[:phone_number].any? %>">
    <%= label_tag "phone_number", "Phone Number" %>
    <%= text_field_tag "phone_number",@author.phone_number %>
  </div>

  <%= submit_tag "Create" %>
<% end %>
